<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shu.carsystem.mapper.MaintainMapper">

    <!-- int insertMaintain(Maintain maintain); -->
    <insert id="insertMaintain">
        insert into maintain values (#{repairId},#{repairmanId},#{proId},#{isFinished},#{userId})
    </insert>

    <resultMap id="NotEnsuredRepairsMap" type="com.shu.carsystem.pojo.NotEnsuredRepair">
        <result property="repairId" column="repair_id"></result>
        <result property="license" column="license"></result>
        <result property="vin" column="vin"></result>
        <result property="proId" column="pro_id"></result>
        <result property="pname" column="pname"></result>
        <result property="failure" column="failure"></result>
    </resultMap>

    <!-- List<NotEnsuredRepair> getNotEnsuredRepairs(Integer userId, String keyWord); -->
    <select id="getNotEnsuredRepairs" resultMap="NotEnsuredRepairsMap">
        select maintain.repair_id,vehicle.license,vehicle.vin,maintain.pro_id,project.pname,repair.failure from maintain,project,vehicle,repair
        <where>
            maintain.repair_id = repair.repair_id and maintain.pro_id = project.pro_id and repair.vehicle_id = vehicle.vehicle_id
            and maintain.repairman_id = #{userId} and maintain.isfinished = '待确认'
            <if test="keyWord != 'null' and keyWord != ''">
                and (maintain.repair_id like '%${keyWord}%' or vehicle.license like '%${keyWord}%' or vehicle.vin like '%${keyWord}%' or maintain.pro_id like '%${keyWord}%' or project.pname like '%${keyWord}%' or repair.failure like '%${keyWord}%')
            </if>
        </where>
    </select>

    <!-- int affirmMaintain(RepairmanRecord repairmanRecord); -->
    <update id="affirmMaintain">
        update maintain set isfinished = '进行中' where repair_id = #{repairmanRecord.repairId} and repairman_id = #{repairmanRecord.repairmanId} and pro_id = #{repairmanRecord.proId}
    </update>
</mapper>