<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shu.carsystem.mapper.UserMapper" >

    <resultMap id="UserMap" type="User">
        <result property="userId" column="user_id"></result>
        <result property="name" column="name"></result>
        <result property="password" column="password"></result>
        <result property="phone" column="phone"></result>
        <result property="isAdmin" column="is_admin"></result>
        <result property="isRepairman" column="is_repairman"></result>
    </resultMap>
    <!-- User inquireUser(User user); -->
   <select id="inquireUser" resultMap="UserMap">
        select * from "user"
        <where>
            user_id = #{userId} and password = #{password};
        </where>
  </select>

    <!-- User inquireUserById(Integer id); -->
    <select id="inquireUserById" resultMap="UserMap">
        select * from "user"
        <where>
            user_id = #{id};
        </where>
    </select>
</mapper>